
/* Título */
.titulo {
  text-align: center;
  font-family: 'Elsie Swash Caps', cursive;
  font-size: 48px;
  color: #FDD17A;
  margin-top: 40px;
}

/* Contenedor del formulario */
.form-container {
  background: rgba(52, 57, 51, 0.5); /* #343933 con alpha 90% */
  backdrop-filter: blur(80px);
  border: 1px solid rgba(125, 130, 123, 0.5);
  border-radius: 15px;
  width: 600px;
  margin: 40px auto;
  position: relative;

}

/* Icono en círculo */
.icono-circulo {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  background: #343933; /* Relleno sólido */
  border: 1px solid #7D827B;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icono-circulo img {
  width: 20px;
  height: 20px;
}

/* Campos alineados en fila */
.campo {
  display: flex;
  margin-bottom: 20px;
  align-items: end;
  font-size: 15px;
}

.campo label {
  width: 80px; /* ancho fijo para alinear */
  font-family: 'Elsie Swash Caps', cursive;
  color: #A5A7A4;
  
}

.campo input {
  flex: 1; /*Esta madre hace que el campo de arriba tenga la misma anchura que el campo más largo de mensaje*/
  height: 25px;  /*Hace que sea más alto*/
  padding: 3px;
  border: none;
  background-color: #A5A7A4;
  border-radius: 10px;
  font-family: 'Jaldi', sans-serif;
}

/* Campo de mensaje */
.campo-mensaje {
  margin-top: 50px;
}

.campo-mensaje label {
  display: block;
  font-family: 'Elsie Swash Caps', cursive;
  color: #A5A7A4;
  margin-bottom: 5px;
}

.campo-mensaje textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: none;
  background-color: #A5A7A4;
  border-radius: 12px;
  font-family: 'Jaldi', sans-serif;
  font-size: 16px;
  resize: none;
}

/* Botón */
button {
  margin-top: 20px;  /*AQUIIIIII ES DONDE LE MODIFIQUE*/
  margin-left: auto;  /*Aqui le agregue*/
  margin-right: auto;
  display: block;  /*hasta aqui le agregue*/
  width: 70%;
  padding: 12px;
  border: 2px solid rgba(125, 130, 123, 0.5);
  border-radius: 15px;
  background: url('../img/body/botonruido.png') no-repeat center center;
  background-size: cover;
  color: #FFFFFF;
  font-family: 'Federo', sans-serif;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

/* RESPONSIVE */

/* Teléfonos */
@media (max-width: 576px) {
  .form-container {
    width: 90%;
    padding: 30px 20px;
  }
  .titulo {
    font-size: 32px;
  }
  .campo {
    flex-direction: column;
    align-items: flex-start;
  }
  .campo label {
    margin-bottom: 5px;
  }
}

/* Tablets */
@media (min-width: 577px) and (max-width: 992px) {
  .form-container {
    width: 80%;
    padding: 40px 50px;
  }
  .titulo {
    font-size: 40px;
  }
}

/* Escritorio */
@media (min-width: 993px) {
  .form-container {
    width: 600px;
    padding: 54px 106px;
  }
}