@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
body
{
    background-color: #65717D;
}

#cuerponuevo
{
font-family: "Elsie Swash Caps", serif;
background-color: #181818;
/*background-image: url("../img/waves-black-4000-mm-architextures.jpg");*/
background-image: url("../img/body/big-furada-midnight-4000-mm-architextures2.jpg");
background-size: contain;
background-attachment: fixed;
max-width: 1200px;   /* ancho máximo en desktop */
margin: auto; 
}

/* Móvil */
@media (max-width: 768px) {
  #cuerponuevo {
    max-width: 100%;  /* ocupa todo el ancho */
    justify-content: center;
  }
}