/*Contenedor para todos los elementos*/
#contenedor-desarrolladores
{
  position: relative;
  
}

/*"Desarrolladores"*/
#texto-desarrolladores
{
  z-index: 2;
  color: #FDD17A;
}

/*Semicírculo*/
#semicirculo
{
  width: 100%;
  height: 100%;
  background-color: #535452;
  position: relative;
  display: flex;
  background-image: url('../img/desarrolladores/Noise.png'); /*Efecto Noise*/
}

/*-------------Círculos con fotografías*/
.dot 
{
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%); /* Centrar perfectamente */
  z-index: 2;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(12px); /* efecto de desenfoque */
}

/*-------------Rectángulos con datos*/
.rec
{
  position: absolute;
  background-color: skyblue;
  transform: translate(-50%, -50%); /* Centrar perfectamente */
  z-index: 2;
  line-height: 0.9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(217, 217, 217, 0.2);
  backdrop-filter: blur(5px); /* Efecto de desenfoque */

}

.rec span 
{
  font-family: "Federo", sans-serif;
}

/*-------------Líneas decorativas*/
.linea-decorativa {
    position: absolute;
    border: 2px solid rgba(255, 255, 255, 0.5);
    z-index: 1;
    background: transparent;
}

/* Teléfonos */
@media (max-width: 576px) 
{
  /*Contenedor para todos los elementos*/
  #contenedor-desarrolladores
{
  width: 200px;
  height: 400px;
  margin-bottom: 200px;
  margin-left: 0 auto 200px 0;
}

/*"Desarrolladores"*/
#texto-desarrolladores
{
  font-size: 16px;
  padding-top: 185px;
  padding-left: 10px;
}

/*Semicírculo*/
#semicirculo
{
  border-radius:  0 400px 400px 0; /*Necesario para la forma del semicírculo*/
  justify-content: start;
}

/*-------------Círculos con fotografías*/
.dot 
{
  width: 54px;
  height: 54px;
}

.dot-1
{
  left: 30%;
  top: 5%;
}

.dot-2
{
  left: 80%;
  top: 20%;
}

.dot-3
{
  left: 100%;
  top: 50%;
}

.dot-4
{
  left: 80%;
  top: 80%;
}

.dot-5
{
  left: 30%;
  top: 95%;
}
/*Círculos con fotografías-------------*/

/*-------------Rectángulos con datos*/
.rec
{
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

/*.rec-1
{
  left: 66%;
  top: 5%
}

.rec-2
{
  left: 116%;
  top: 20%
}

.rec-3
{
  left: 136%;
  top: 50%
}

.rec-4
{
  left: 116%;
  top: 80%
}

.rec-5
{
  left: 66%;
  top: 95%
}*/

.rec-1
{
  left: 30%;
  top: 17%
}

.rec-2
{
  left: 80%;
  top: 32%
}

.rec-3
{
  left: 100%;
  top: 62%
}

.rec-4
{
  left: 80%;
  top: 92%
}

.rec-5
{
  left: 30%;
  top: 107%
}

.rec span 
{
  font-size: 10px;
}

.rec span:nth-of-type(2) 
{
  margin-top: 5px;
}

/*-------------Líneas decorativas*/
.linea-decorativa 
{
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-left: none; 
}

.linea-1 {
    width: 188px;
    height: 376px;
    border-radius: 0 376px 376px 0;
}

.linea-2 {
    width: 181px;
    height: 362px;
    border-radius: 0 362px 362px 0;  
}

.linea-3 {
    width: 173px;
    height: 346px;
    border-radius: 0 346px 346px 0;  
}

.linea-4 {
    width: 166px;
    height: 332px;
    border-radius: 0 332px 332px 0;  
}

.linea-5
{
  width: 154px;
  height: 308px;
  border-radius: 0 308px 308px 0;
}

.linea-6
{
  width: 149px;
  height: 298px;
  border-radius: 0 298px 298px 0;
}

.linea-7
{
  width: 142px;
  height: 284px;
  border-radius: 0 284px 284px 0;
}

.linea-8
{
  width: 137px;
  height: 274px;
  border-radius: 0 274px 274px 0;
}
/*Líneas decorativas-------------*/
  
}

/* Tablets */
@media (min-width: 577px) and (max-width: 992px) 
{
  /*Contenedor para todos los elementos*/
  #contenedor-desarrolladores
{
  width: 400px;
  height: 200px;
  margin: 0 auto 100px; /*Esto para centrar en la pantalla*/
}

/*"Desarrolladores"*/
#texto-desarrolladores
{
  font-size: 24px;
  padding-top: 42px;
}

/*Semicírculo*/
#semicirculo
{
  border-radius:  0 0 200px 200px; /*Necesario para la forma del semicírculo*/
  justify-content: center;
}

/*-------------Círculos con fotografías*/
.dot 
{
  width: 54px;
  height: 54px;
}

.dot-1
{
  left: 5%;
  top: 30%;
}

.dot-2
{
  left: 20%;
  top: 80%;
}

.dot-3
{
  left: 50%;
  top: 100%;
}

.dot-4
{
  left: 80%;
  top: 80%;
}

.dot-5
{
  left: 95%;
  top: 30%;
}
/*Círculos con fotografías-------------*/

/*-------------Rectángulos con datos*/
.rec
{
  width: 80px;
  height: 30px;
  border-radius: 10px;
}

.rec-1
{
  left: 5%;
  top: 53%
}

.rec-2
{
  left: 20%;
  top: 103%
}

.rec-3
{
  left: 50%;
  top: 123%
}

.rec-4
{
  left: 80%;
  top: 103%
}

.rec-5
{
  left: 95%;
  top: 53%
}

.rec span 
{
  font-size: 10px;
}

.rec span:nth-of-type(2) 
{
  margin-top: 5px;
}

/*-------------Líneas decorativas*/
.linea-decorativa 
{
    top: 0;  
    left: 50%;
    transform: translateX(-50%);
    border-top: none; 
}

.linea-1 {
    width: 376px;
    height: 188px;
    border-radius: 0 0 188px 188px;
}

.linea-2 {
    width: 362px;
    height: 181px;
    border-radius: 0 0 181px 181px;  
}

.linea-3 {
    width: 346px;
    height: 173px;
    border-radius: 0 0 173px 173px;  
}

.linea-4 {
    width: 332px;
    height: 166px;
    border-radius: 0 0 166px 166px;  
}

.linea-5
{
  width: 308px;
  height: 154px;
  border-radius: 0 0 154px 154px;
}

.linea-6
{
  width: 298px;
  height: 149px;
  border-radius: 0 0 149px 149px;
}

.linea-7
{
  width: 284px;
  height: 142px;
  border-radius: 0 0 142px 142px;
}

.linea-8
{
  width: 274px;
  height: 137px;
  border-radius: 0 0 137px 137px;
}
/*Líneas decorativas-------------*/

}


/* Escritorio */
@media (min-width: 993px) 
{
/*Contenedor para todos los elementos*/
#contenedor-desarrolladores
{
  width: 600px;
  height: 300px;
  margin: 0 auto 100px; /*Esto para centrar en la pantalla*/
}

/*"Desarrolladores"*/
#texto-desarrolladores
{
  font-size: 36px;
  padding-top: 72px;
}

/*Semicírculo*/
#semicirculo
{
  border-radius:  0 0 300px 300px; /*Necesario para la forma del semicírculo*/
  justify-content: center;
}

/*-------------Círculos con fotografías*/
.dot 
{
  width: 80px;
  height: 80px;
}

.dot-1
{
  left: 5%;
  top: 30%;
}

.dot-2
{
  left: 20%;
  top: 80%;
}

.dot-3
{
  left: 50%;
  top: 100%;
}

.dot-4
{
  left: 80%;
  top: 80%;
}

.dot-5
{
  left: 95%;
  top: 30%;
}
/*Círculos con fotografías-------------*/

/*-------------Rectángulos con datos*/
.rec
{
  width: 120px;
  height: 46px;
  border-radius: 14px;
}

.rec-1
{
  left: 5%;
  top: 53%
}

.rec-2
{
  left: 20%;
  top: 103%
}

.rec-3
{
  left: 50%;
  top: 123%
}

.rec-4
{
  left: 80%;
  top: 103%
}

.rec-5
{
  left: 95%;
  top: 53%
}

.rec span 
{
  font-size: 15px;
}

.rec span:nth-of-type(2) 
{
  margin-top: 5px;
}
/*Rectángulos con datos-------------*/

/*-------------Líneas decorativas*/
.linea-decorativa 
{
    top: 0;  
    left: 50%;
    transform: translateX(-50%);
    border-top: none; 
}

.linea-1 {
    width: 564px;
    height: 282px;
    border-radius: 0 0 282px 282px;
}

.linea-2 {
    width: 544px;
    height: 272px;
    border-radius: 0 0 272px 272px;  
}

.linea-3 {
    width: 520px;
    height: 260px;
    border-radius: 0 0 260px 260px;  
}

.linea-4 {
    width: 500px;
    height: 250px;
    border-radius: 0 0 250px 250px;  
}

.linea-5
{
  width: 464px;
  height: 232px;
  border-radius: 0 0 232px 232px;
}

.linea-6
{
  width: 448px;
  height: 224px;
  border-radius: 0 0 224px 224px;
}

.linea-7
{
  width: 428px;
  height: 214px;
  border-radius: 0 0 214px 214px;
}

.linea-8
{
  width: 412px;
  height: 206px;
  border-radius: 0 0 206px 206px;
}
/*Líneas decorativas-------------*/
  
}

